.main {
    background-image: url('../assets/place\ 7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
    min-height: 100vh;
    height: -webkit-fill-available;
}